.vs/Learning/v16/TestStore/0/testlog.manifest
Learning/obj/project.nuget.cache
Learning/obj/project.assets.json
Learning.sln
Learning/obj/Debug/net5.0/Learning.GeneratedMSBuildEditorConfig.editorconfig
Learning/obj/Learning.csproj.nuget.g.targets
Learning/obj/Learning.csproj.nuget.g.props
Learning/obj/Learning.csproj.nuget.dgspec.json
Learning/obj/Debug/net5.0/Learning.csproj.AssemblyReference.cache
Learning/Learning.csproj
Learning/obj/Debug/net5.0/Learning.assets.cache
Learning/obj/Debug/net5.0/Learning.AssemblyInfoInputs.cache
Learning/obj/Debug/net5.0/Learning.AssemblyInfo.cs
.vs/Learning/v16/TestStore/0/000.testlog
.vs/Learning/v16/.suo
Learning/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Learning/bin/Debug/net5.0/stateless.dll
Learning/bin/Debug/net5.0/Learning.runtimeconfig.json
Learning/bin/Debug/net5.0/Learning.runtimeconfig.dev.json
Learning/obj/Debug/net5.0/Learning.pdb
Learning/bin/Debug/net5.0/Learning.pdb
Learning/obj/Debug/net5.0/Learning.genruntimeconfig.cache
Learning/bin/Debug/net5.0/Learning.exe
Learning/obj/Debug/net5.0/ref/Learning.dll
Learning/obj/Debug/net5.0/Learning.dll
Learning/bin/Debug/net5.0/ref/Learning.dll
Learning/bin/Debug/net5.0/Learning.dll
Learning/bin/Debug/net5.0/Learning.deps.json
Learning/obj/Debug/net5.0/Learning.csproj.FileListAbsolute.txt
Learning/obj/Debug/net5.0/Learning.csproj.CoreCompileInputs.cache
Learning/obj/Debug/net5.0/Learning.csproj.CopyComplete
Learning/obj/Debug/net5.0/apphost.exe
.vs/Learning/DesignTimeBuild/.dtbcache.v2
