.vs/Learning/v16/TestStore/0/testlog.manifest
Learning/obj/project.nuget.cache
Learning/obj/project.assets.json
Learning.sln
Learning/obj/Debug/net5.0/Learning.GeneratedMSBuildEditorConfig.editorconfig
Learning/obj/Learning.csproj.nuget.g.targets
Learning/obj/Learning.csproj.nuget.g.props
Learning/obj/Learning.csproj.nuget.dgspec.json
Learning/obj/Debug/net5.0/Learning.csproj.AssemblyReference.cache
Learning/Learning.csproj
Learning/obj/Debug/net5.0/Learning.assets.cache
Learning/obj/Debug/net5.0/Learning.AssemblyInfoInputs.cache
Learning/obj/Debug/net5.0/Learning.AssemblyInfo.cs
.vs/Learning/v16/TestStore/0/000.testlog
.vs/Learning/v16/.suo
Learning/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
